  <div class="">
  <%= @event.description %><br/>
    <%= @event.id %>
    <%= @event.date %><br/>
     <%= attend_button(@event) %>
    Host: <%= @event.creator.name %><br/>
    Attendees: <br/>
    <% @event.attendees.uniq.each do |attendee| %>
        <%= attendee.name %><br><br/>
    <% end %><br/>

    </div>